/* Estilos generales */
* {
    box-sizing: border-box;
    transition: all 0.3s ease-in-out;
    font-size: 17px;
    font-family: "Inter";
    }
:root {
    --verde-corporativo: #72BE44;
--verde-claro: #B7C19D;
--azul-verde: #567572;
--blanco: #F9F9F9;
--verde-opaco: #2F4C3F;
--veich:#E8D9cE;
--gris-fondo: #ACB0AE;
}
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
    background: url(/solicitud_de_permisos_laborales/app/assets/img/loginBackground.jpg)center center /cover no-repeat ;
}

header {
    background: var(--verde-claro);
    color: white;
    padding: 15px 20px;
    text-align: center;
}

#navigation{
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color:var(--azul-verde);
    border-radius: 25px 25px 0 0;
}
nav{
    position: relative;
    padding: 8px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

nav ul li a {
    display: inline-flex;
    text-decoration: none;
    list-style-type: none;
    padding: 0;
    color: var(--verde-claro);
    
}
nav ul li a:hover{
    scale: 1.2;
    color: var(--blanco);
    text-shadow: 2px 2px 5px var(--blanco);
    
}

nav ul li {
    display: inline;
    margin-right: 15px;
}

main {
  position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    margin: auto;
     background-color:  rgba(255, 255, 255, 0.6);
    border-radius: 25px;
    border: solid 2px  var(--verde-opaco);
    width: 85%;
    height: 80%;
    padding: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* css para menu */
#btn_menu{
    display: none;
}
#menu{
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}
#contenedor_btn_salir{
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
   
}
/* CSS para gestion de solicitudes */
.tabla_registro {
    border: solid 2px var(--blanco);
    width: 95%; 
    max-height: 60%;  /* Ajusta la altura máxima */
    padding: 4px;
    position: absolute; 
    left: 50%; 
    top: 45%;
    transform: translateX(-50%) translateY(-50%);
    background-color: var(--azul-verde);
    overflow-y: auto;  /* Activar el scroll vertical cuando sea necesario */
}

#tabla_registros thead {
    position: sticky;
    top: 0; /* El encabezado se quedará en la parte superior */
    background-color: var(--verde-claro); /* Fondo del encabezado */
    z-index: 1; /* Asegura que el encabezado se mantenga encima del tbody */
    padding: 0;
    margin: 0;
}

/* Estilos para el encabezado de la tabla */
.tabla_registro thead tr th {
    background-color: var(--verde-claro); 
    border: solid 2px var(--blanco);
    text-align: center;
}

/* Estilos para las celdas de la tabla */
.td_solicitud {
    font-size: 13px;
    border: solid 1px var(--blanco);
    color: var(--blanco);
    text-align: center;
    white-space: nowrap;
    padding: 4px;
}

/* Estilos para los botones de acción */
.btn_accion_solicitud {
    height: 40px;
    background: none;  
    border: none; 
    width: 40px;
}
#observaciones{
height: 80px;
}
textarea::placeholder {
    color: var(--blanco); /* Cambia a tu color preferido */
    opacity: 1; /* Asegura que el color sea visible */
}
/* #tipo-permiso{
-webkit-appearance: none; /* Eliminar estilo nativo en Safari/Chrome *
-moz-appearance: none; /* Eliminar estilo nativo en Firefox 
appearance: none; /* General 
background-image: url("data:image/svg+xml;charset=UTF-8,<svg xmlns='http://www.w3.org/2000/svg' fill='none' stroke='%23FFFFFF' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' width='24' height='24'><polyline points='6 9 12 15 18 9'></polyline></svg>");
background-repeat: no-repeat;
background-position: right 10px center;
background-size: 16px 16px;
} */
#formulario-solicitud {
    gap:15px;
    height: 75%;
    width: 35%;
    margin: 0;
    padding: 12px 20px;
    flex-direction: column;
    align-items: center;
    display: flex;
    top: 55%;
    position: absolute;
    left: 50%;
    background-color: var(--azul-verde);
    z-index: 3;
    border-radius: 25px;
    transform: translateY(-50%) translateX(-50%);
}
#title_form{
    margin-bottom: 0;
}
#Bienvenidos{
    left: 50%; 
    transform: translateX(-50%);
    position: absolute;  
    color: var(--azul-contraste); 
    font-size: 30px; 
    font-weight: 600;
    width: 100%;
    text-align: center;
}
.input_solicitud {
    width: 90%;
    background-color: transparent;
    opacity: 1;
    color: var(--blanco)!important;
    height: 30px;
    padding-left: 8px;
    margin: 0;
    position: relative;
    border: none;
    border-bottom: solid 1px var(--blanco);
    outline: none;
}
.input_solicitud::placeholder{
    color: var(--blanco);
}

.contenedor-permiso {
    position: relative;
    width: 90%;
    cursor: pointer;
}

.selected-option {
    padding: 10px;
    background-color: transparent;
    border-bottom: 1px solid var(--blanco);
    color: var(--blanco);
}

.select-options {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: var(--blanco);
    border: 1px solid var(--verde-claro);
    border-radius: 5px;
    list-style: none;
    padding: 0;
    margin: 0;
    z-index: 10;
}

.select-options li {
    height: 25px;
    border-bottom: 1px solid;
    display: flex;
    align-items: center;
    padding: 10px;
    color: var(--azul-verde);
    background-color: var(--blanco);
}

.select-options li:hover {
    background-color: var(--verde-claro);
    color: var(--blanco);
}
#permiso-laboral{
    display: none;
    height: 100%;
    width: 100%;
    gap: 20px;
    position: absolute;
    flex-direction: column;
    border: 1px solid var(--blanco);
    border-radius: 25px;
    top: 0;
    padding: 25px 20px;
    backdrop-filter: blur(10px); /* Aplica el desenfoque */
    -webkit-backdrop-filter: blur(10px); /* Para compatibilidad con Safari */
}
#btn-enviar-permiso{
    position: relative;
    background: var(--verde-claro);
    color: var(--blanco);
    font-weight: 600;
    border: solid 2px var(--blanco);
    width: 60%;
    top: 0;
}
#btn-enviar-permiso:hover{
    box-shadow: 1px 1px 10px var(--blanco);
    cursor: pointer;
    border-radius: 25px;
}
#btn-enviar-permiso-laboral{
    position: absolute;
    top: 95%;
    width: 60%;
    left: 50%;
    transform: translateX(-50%);
    font-weight: 600;
    background-color: var(--verde-claro);
    color: var(--blanco);
    border: solid 2px var(--blanco);
}
#btn-enviar-permiso-laboral:hover{
    box-shadow: 1px 5px 10px var(--blanco);
    cursor: pointer;
    border-radius: 25px;
}
input[type="file"]{
    display: none;
}
#label_file{
    height: 35px;
    width: 90%;
    margin-top: 8px;
    border-radius: 6px;
    border: 2px dashed var(--blanco);
    align-items: center;
    display: flex;
    justify-content: center;
    color: var(--blanco);
}
#label_file:hover{
    color: var(--blanco);
    border: 3px dashed var(--verde-claro);
    scale: 1.1;
    cursor: pointer;

}
/* termina el css de gestion de solicitudes */


footer {
    background-color: var(--verde-claro);
    text-align: center;
    padding: 10px 0;
    color: white;
    position: absolute;
    bottom: 0;
    width: 100%;
}
footer p{
    margin: 0;
}
@media screen and (max-width: 800px) {
    #tabla_registros{
        width: 95%;
        height: 70%;
    }
    #tabla_registros thead tr th {
        font-size: 10px;
    }
    .td_solicitud {
        font-size: 10px;
    }
    #btn_menu{
        display: flex;
        width: 45px;
        height: 45px;
        background-color: transparent;
        left: 80%;
        flex-direction: column;
        position: absolute;
    }
    #btn_menu.menu_active{
        left: 33%;
        top: 100%;
        z-index: 10;
    }
    #btn_menu div {
        width: 100%;
        height: 4px;
        background-color: var(--verde-claro);
        margin: 5px 0;
        transition: 0.4s;
    }
    #btn_menu.menu_active div:nth-child(1) {
        transform: rotate(45deg) translate(10px, 10px);
    }
    
    #btn_menu.menu_active div:nth-child(2) {
        opacity: 0;
    }
    
    #btn_menu.menu_active div:nth-child(3) {
        transform: rotate(-45deg) translate(10px, -10px);
    }
    #btn_salir{
        top: 70%;
        position: absolute;
        left: 15%;
    }
    #menu{
        right: 50%;
        top: 60px;
        background-color: var(--verde-opaco);
        z-index: 5;
        position: absolute;
        height: 100vh;
        width: 50%;
        padding: 25px 14px;
        gap: 20px;
        display: none;
        flex-direction: column;
    }
    main{
        top:45% ;
    }
    
    #Bienvenidos{
        margin-top: 10px;
        font-size: 17px;
    }

    #formulario-solicitud{
        width: 90%;
        height: 60%;
        top: 55%;
        padding: 0;
        gap: 8px;
    }

}

@media screen  and (max-width: 799px) {
    #formulario-solicitud {
        height: 80%;
        top: 60%;
        padding: 0 !important;
    }
}
@media (min-width: 1400px){
    .container{
        min-width: 100% !important;
        align-items: center;
    }
}